



			<!-- Inner Banner ____________________ -->
			<div class="inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>O Kancelarii</h2>
						<div class="theme-decor"></div>

					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.inner-banner -->





			<!-- About Legal ______________________ -->
			<div class="about-legal style-two">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="text">
								<h2>O <span>Kancelarii</span></h2>
								<p style="text-align: justify; text-indent:20px;">	
							Adwokat Igor Gładysz
Jestem absolwentem Wydziału Prawa, Administracji i Ekonomii Uniwersytetu Wrocławskiego i Członkiem Izby Adwokackiej we Wrocławiu. Doświadczenie zawodowe zdobywałem w renomowanej wrocławskiej kancelarii Malicki i Wspólnicy sp. j., z którą nadal współpracuję. 
</p><br/>
					<p style="text-align: justify; text-indent:20px;">Specjalizuję się w sprawach z zakresu prawa administracyjnego oraz prawa cywilnego, w tym przede wszystkim prawa gospodarczego oraz prawa spółek. Prowadzę również z sukcesami sprawy karne oraz rodzinne.
W ramach prowadzonej kancelarii świadczę kompleksowe usługi na rzecz Klientów indywidualnych, jak i przedsiębiorców, udzielając fachowych porad prawnych i występując w charakterze pełnomocnika przed sądami powszechnymi, organami ścigania oraz  organami administracji publicznej. 
W swojej pracy zawodowej stawiam na profesjonalizm, skuteczność oraz dbałość o interesy Klientów.</p>
					<br/>	<p style="text-align: justify;text-indent:20px;">Korzystający z oferowanych przeze mnie usług można liczyć na rzetelną informację na temat zlecanej sprawy oraz odpowiednią ocenę ryzyka związanego z jej prowadzeniem.  
Choć siedziba Kancelarii znajduje się we Wrocławiu jednak udzielanie pomocy prawnej oraz reprezentowanie Klientów przed sądami i organami administracji publicznej odbywa się na terenie całego kraju. 
Kancelaria świadczy usługi również w języku angielskim.
<p style="text-align:right;">Zapraszam do kontaktu</p> 
<p style="text-align:right;">adw. Igor Gładysz</p>
							<p class="pull-right">	<img src="../images/16357389_1516991744995022_630298907_o.png" width="150px;"/></p>
							</div> <!-- /.text -->
						</div> <!-- /.col -->
<!--						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><img src="../images/home/1.png" alt="image"></div>-->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.about-legal -->








			<!-- We Are Best _____________________ -->
			<div class="we-are-best">
				<div class="overlay">
					<div class="container">
						<!--<h2>WE ARE BEST FOR LAWYER</h2>
						<p class="p-color">lawyer  Law Firm  Attorney</p>
						<div class="theme-decor"></div>-->
						<a href="~/Home" class="theme-button hvr-bounce-to-right">Powrót</a>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.we-are-best -->


