@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>LEGAL STATION- Responsive html5 legal solution template</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="./images/fav-icon/icon.png">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="~/Content/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="~/Content/responsive.css">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/html5shiv.js"></script>
		<![endif]-->


    <title>@ViewBag.Title</title>
</head>
<body>

		<div class="main-page-wrapper">

			<!-- Header And Banner ___________________________ -->
			<div id="banner">

				<header>
					<div class="main-menu clear-fix container">
						

						<div class="pull-right">
						<p>
								<br/>
								
								<span class="p-color" style="font-size:24px;"><i class="fa fa-phone" aria-hidden="true"></i>
								</span>
							<span style="font-size:18px; color:#fff;"  >
								&nbsp; <a href="tel:601831420" style="color:#fff" >+48 601 831 420</a>
								</span>
							</p>
						</div>

						       <a href="~/Home" class="logo pull-left"><img src="images/logo/adwokatura_logo.png" alt="logo"></a>
						
						<nav class="navbar navbar-default pull-left">
						   <!-- Brand and toggle get grouped for better mobile display -->
						   <div class="navbar-header">
						     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						       <span class="sr-only">Toggle navigation</span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						     </button>
						   </div>
						   <!-- Collect the nav links, forms, and other content for toggling -->
						   <div class="collapse navbar-collapse" id="navbar-collapse-1">
						     <ul class="nav navbar-nav">
						       <li class="dropdown_menu"><a href="#">Strona Główna</a>
						       		
						       </li>
						       <li><a href="~/Home/About">O kancelarii</a></li>
						      <!-- <li class="dropdown_menu"><a href="#">PRACTICE AREAS</a>
						       		<ul class="sub-menu">
						       			<li><a href="practice-area.html">Practice Area One</a></li>
						       			<li><a href="practice-area-v2.html">Practice Area Two</a></li>
						       			<li><a href="practice-area-single.html">Practice Area Details</a></li>
						       			<li><a href="practice-area-single-v2.html">Practice Area Details Two</a></li>
						       		</ul>
						       </li>-->
						       
							
						       <li class="dropdown_menu"><a href="#">Zakres usług</a>
						       		<ul class="sub-menu">
						       			<li><a href="~/Service/OsobyPrywatne">Osoby prywatne</a></li>
						       			<li><a href="~/Service/MSP">Małe i średnie przedsiębiorstwa</a></li>
						       			<li><a href="~/Service/KlienciKorporacyjni">Klienci korporacyjni</a></li>
						       		</ul>
						       </li>
						       <li class="dropdown_menu"><a href="~/Salary">Wynagrodzenie</a></li>
						    
						       <li><a href="~/Contact">Kontakt</a></li>
						     </ul>
						   </div><!-- /.navbar-collapse -->
						</nav>

					</div> <!-- /.main_menu -->
				</header>


				<div class="banner-heading">
					<h2 class="p-color">Kancelaria adwokacka</h2>
					<h1>Adwokat Igor Gładysz</h1>
					<h4>Ius est ars boni et aequi - Prawo jest sztuką tego, co dobre i słuszne</h4>
					<div class="theme-decor"></div>
					<a href="~/Home/About" class="tran3s hvr-bounce-to-right"><i class="fa fa-angle-double-right p-color-bg tran3s" aria-hidden="true"></i>O kancelarii</a>
				</div> <!-- /.banner-heading -->
				<!--
				<button id="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				<button id="previous"><i class="fa fa-angle-left" aria-hidden="true"></i></button>-->
			</div> <!-- /#banner -->


			<!-- Company Facts ________________ -->
			<div class="company-facts">
				<div class="container">
					<div class="overlay">
						<div class="row">
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 single-facts">
								
							</div> 
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 single-facts" style="border-left:none;">
								<p>Zaufanie</p>
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							</div> <!-- /.single-facts -->
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 single-facts">
								<p>Wiedza</p>
								<i class="fa fa-graduation-cap" aria-hidden="true"></i>
							</div> <!-- /.single-facts -->

						
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 single-facts">
								<p>Doświadczenie</p>
								<i class="fa fa-gavel" aria-hidden="true"></i>
							</div> <!-- /.single-facts -->

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 single-facts">
								<p>Profesjonalizm</p>
								<i class="fa fa-bar-chart" aria-hidden="true"></i>
							</div> <!-- /.single-facts -->
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 single-facts" ">
								<p>Skuteczność</p>
								<i class="fa fa-trophy" aria-hidden="true"></i>
							</div> <!-- /.single-facts -->


						
						</div> <!-- /.row -->
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.company-facts -->




			<!-- About Legal ______________________ -->
			<div class="about-legal">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="text">
								<h2>O <span>Kancelarii</span></h2>
								<p style="text-align: justify; text-indent:20px;">	
							Adwokat Igor Gładysz
Jestem absolwentem Wydziału Prawa, Administracji i Ekonomii Uniwersytetu Wrocławskiego i Członkiem Izby Adwokackiej we Wrocławiu. Doświadczenie zawodowe zdobywałem w renomowanej wrocławskiej kancelarii Malicki i Wspólnicy sp. j., z którą nadal współpracuję. 
</p>

								<ul>
									<li><i class="fa fa-align-center hvr-rectangle-out" aria-hidden="true"></i>Wsparcie klienta</li>
									<li><i class="fa fa-bar-chart hvr-rectangle-out" aria-hidden="true"></i>Profesjonalizm</li>
									<li><i class="fa fa-gavel hvr-rectangle-out" aria-hidden="true"></i>Doświadczenie</li>
									<li><i class="fa fa-sitemap hvr-rectangle-out" aria-hidden="true"></i>Reputacja</li>
								</ul>
								<a href="~/Home/About" class="theme-button p-color-bg hvr-bounce-to-rightTwo">Czytaj dalej</a>
							</div> <!-- /.text -->
						</div> <!-- /.col -->
<!--						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><img src="images/home/1.png" alt="image"></div>-->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.about-legal -->

			<!-- Provide Legal ___________________ -->
			<div class="provide-legal style-two">
				<div class="container">
					<div class="theme-title">
						<h2>ZAKRES USŁUG</h2>
						<div class="theme-decor"></div>
						<p>Kancelaria światczy pomoc prawną osobom prywatnym, małym i średnim przedsiębiorcą oraz klientom korporacyjnym. </p>
					</div> <!-- /.theme-title -->
					

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="legal-item">
								<div class="icon hvr-rectangle-outTwo"><i class="fa fa-tencent-weibo" aria-hidden="true"></i></div> <!-- /.icon -->
								<h4>Osoby prywatne</h4>
<!--								<p>Excepteur sint occaecat cupidatat non proi- dent, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
							</div> <!-- /.legal-item -->
						</div> <!-- /.col -->

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="legal-item">
								<div class="icon hvr-rectangle-outTwo"><i class="fa fa-bar-chart" aria-hidden="true"></i></div> <!-- /.icon -->
								<h4>Mali i średni przedsiębiorcy</h4>
<!--								<p>Excepteur sint occaecat cupidatat non proi- dent, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
							</div> <!-- /.legal-item -->
						</div> <!-- /.col -->

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="legal-item">
								<div class="icon hvr-rectangle-outTwo"><i class="fa fa-fire" aria-hidden="true"></i></div> <!-- /.icon -->
								<h4>Klienci korporacyjni</h4>
<!--								<p>Excepteur sint occaecat cupidatat non proi- dent, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
							</div> <!-- /.legal-item -->
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.provide-legal -->

			<!-- Footer _______________________ -->
			<footer>
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-contact">
								<h4>Informacje kontaktowe</h4>
								<ul>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i> ul. Krupnicza 13 lok. 206A <br>50-075 Wrocław</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i> igor@adwokatgladysz.eu </li>
									<li><i class="fa fa-phone" aria-hidden="true"></i> +48 601 831 420</li>
									<li><i class="fa fa-clock-o" aria-hidden="true"></i> Poniedziałek - Piątek</li>
								</ul>
							</div> <!-- /.footer-contact -->


							<div class="col-lg-5 col-md-3 col-sm-6 col-xs-12 footer-latest-news">
								
							</div> <!-- /.footer-latest-news -->

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-mail">
								<h4>Wyślij wiadomość</h4>
								<p style="text-align:justify">Jeżeli potrzebujesz pomocy z chęcią odpowiemy na twoje wszystkie pytania.</p>

								<form action="#">
									<input type="email" placeholder="Email">
									<button class="p-color-bg tran3s"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
								</form>

								<ul>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.footer-mail -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->

				<div class="bottom-footer"><p>Copyright 2016 &copy; 
<!--				<a href="http://themeforest.net/user/themazine/portfolio" class="p-color tran3s" target="_blank">Kancela</a> | Designed with love by <a href="http://themeforest.net/user/template_mr/portfolio" class="p-color tran3s" target="_blank">template_mr</a>-->
				</p></div>
			</footer>


			<!-- Scroll Top -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>

			<!-- pre loader  -->
		 	<div id="loader-wrapper">
				<div id="loader"></div>
			</div>
	



		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="assest/jquery-2.1.4.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="assest/bootstrap/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->

		<!-- Google map js -->
		<script src="http://maps.google.com/maps/api/js"></script> <!-- Gmap Helper -->
		<script src="assest/gmap.js"></script>
		<!-- Vegas Slider -->
		<script type="text/javascript" src="assest/vegas/vegas.min.js"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="assest/owl-carousel/owl.carousel.min.js"></script>

		<!-- Theme js -->
		<script type="text/javascript" src="js/theme.js"></script>


		</div> <!-- /.main-page-wrapper -->

		</body>
</html>
