



			<!-- Inner Banner ____________________ -->
			<div class="inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>Zakres usług</h2>
						
						<div class="theme-decor"></div>

					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.inner-banner -->





			<!-- Practice Area Single Page main content ________________ -->
			<div class="practice-area-single-page">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right page-main-content">
							<div style="margin-top:-45px;">
								<div class="text">
									<h3>Małe i średnie przedsiębiorstwa</h3>
						<p>			Dzięki naszemu doświadczeniu rozwiniesz swój biznes, pomożemy Ci w następujących sprawach: </p>
								<ul style="list-style-type:disc; margin-left:20px;">
								<li> Prawo gospodarcze</li>
								<li> Prawo administracyjne</li>
								<li> Prawo pracy</li>
								<li> Prawo spółek</li>
							</ul>
						<br/>
								<ul style="list-style-type:circle; margin-left:20px;">
								<li> Zwalczanie nieuczciwej konkurencji</li>
								<li> Przygotwanie umów</li>
								<li> Rejestracja spółki</li>
								<li> Przygotowanie regulaminów wewnętrznych</li>
								<li> Windykacja</li>
								<li> Odszkodowania za niedopełnienie umowy</li>
								<li> Reprezentacja przed organami administracji publicznej</li>
								</ul>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem</p>
								</div> <!-- /.text -->

							</div>
						</div> <!-- /.page-main-content -->

						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 side-bar pull-left">
							<div class="wrapper">
								<div class="list-item">
									
									<!-- ================== -->
									<div class="single-list-item">
										<div class="icon p-color-bg"><i class="fa fa-child" aria-hidden="true"></i></div>
										<div class="text">
											<a href="~/Service/OsobyPrywatne"><h4>Osoby prywatne</h4></a>
											<p>Każdą sprawę traktujemy indywidualnie</p>
										</div> <!-- /.text -->
									</div> <!-- /.single-list-item -->

									<!-- ================== -->
									<div class="single-list-item active">
										<div class="icon p-color-bg"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
										<div class="text">
											<a href="~/Service/MSP"><h4>Małe i średnie przedsiębiorstwa</h4></a>
											<p>Jesteśmy by wspierać Twój biznes</p>
										</div> <!-- /.text -->
									</div> <!-- /.single-list-item -->

									<!-- ================== -->
									<div class="single-list-item">
										<div class="icon p-color-bg"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
										<div class="text">
											<a href="~/Service/KlienciKorporacyjni"><h4>Klienci korporacyjni</h4></a>
											<p>Zapewniamy kompleksową obsługę prawną</p>
										</div> <!-- /.text -->
									</div> <!-- /.single-list-item -->
								</div> <!-- /.list-item -->


								<!-- =============== QUICK CALL ================= -->

								<div class="quick-call">
									<h3><i class="fa fa-phone" aria-hidden="true"></i> Zadzwoń</h3>
									<a href="tel:601831420">(+48) 601 831 420</a>
								</div> <!-- /.quick-call -->



							</div> <!-- /.wrapper -->
						</div> <!-- /.side-bar -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.practice-area-single-page -->









			<!-- We Are Best _____________________ -->
			<div class="we-are-best">
				<div class="overlay">
					<div class="container">
						<!--<h2>WE ARE BEST FOR LAWYER</h2>
						<p class="p-color">lawyer  Law Firm  Attorney</p>
						<div class="theme-decor"></div>-->
						<a href="~/Home" class="theme-button hvr-bounce-to-right">Powrót</a>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.we-are-best -->


