



			<!-- Inner Banner ____________________ -->
			<div class="inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>Wynagrodzenie</h2>
						<div class="theme-decor"></div>
						<p style="padding:20px 300px 0 300px; color:#fff; opacity:0.8;">W celu dopasowania ceny świadczonej usługi do indywidualnych potrzeb i wymagań każdego klienta, 
						Kancelaria oferuje różne sposoby rozliczania wynagrodzenia za udzielaną pomoc prawną.
						</p>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.inner-banner -->




			<!-- Practice Area ___________________________ -->
			<div class="practice-area">
				<div class="container" >

					<div class="row">

						<!-- Practice item -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="practice-item">
								<div class="icon hvr-rectangle-out"><i class="fa fa-users" aria-hidden="true"></i></div>
								<h4> ryczałtowe</h4>
								<p>Wynagrodzenie jest jedno za powierzenie do wykonania określonego zlecenia. Jest płatne z góry i nie ulega zmianie przez cały okres realizacji usługi.</p>
							</div> <!-- /.practice-item -->
						</div> <!-- /.col -->

						<!-- Practice item -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="practice-item">
								<div class="icon hvr-rectangle-out"><i class="fa fa-gavel" aria-hidden="true"></i></div>
								<h4> mieszane</h4>
								<p>Łączy elementy wynagrodzenia ryczałtowego i godzinowego, ustalany jest limitowany ryczałt za określoną ilość godzin.</p>
							</div> <!-- /.practice-item -->
						</div> <!-- /.col -->
			
						<!-- Practice item -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="practice-item">
								<div class="icon hvr-rectangle-out"><i class="fa fa-fire" aria-hidden="true"></i></div>
								<h4> godzinowe</h4>
								<p>Ustalana jest stawka za każdą roboczą godzine pracy adwokata, wysokość wynagrodzenia jest zależna od ilości przepracowanych godzin.</p>
							</div> <!-- /.practice-item -->
						</div> <!-- /.col -->

						<!-- Practice item -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="practice-item">
								<div class="icon hvr-rectangle-out"><i class="fa fa-suitcase" aria-hidden="true"></i></div>
								<h4>success fee</h4>
								<p>Jest wypłacane po zakończeniu sprawy tylko w sytuacji w której sprawa zakończyła się pozytywnym dla klienta roztrzygnięciem.</p>
							</div> <!-- /.practice-item -->
						</div> <!-- /.col -->

					
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.practice-area -->








			<!-- We Are Best _____________________ -->
			<div class="we-are-best">
				<div class="overlay">
					<div class="container">
						<!--<h2>WE ARE BEST FOR LAWYER</h2>
						<p class="p-color">lawyer  Law Firm  Attorney</p>
						<div class="theme-decor"></div>-->
						<a href="~/Home" class="theme-button hvr-bounce-to-right">Powrót</a>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.we-are-best -->


