



			<!-- Inner Banner ____________________ -->
			<div class="inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>Kontakt</h2>
						<div class="theme-decor"></div>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.inner-banner -->



			<!-- Contact Us Area _____________________ -->
			<div class="contact-us-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 contact-us-form">

							<form action="inc/sendemail.php" class="form-validation" autocomplete="off">
								<h6>Wyślij wiadomość</h6>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" placeholder="Nazwa" name="name">
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="email" placeholder="Email" name="email">
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<input type="text" placeholder="Telefon" name="phone">
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<textarea placeholder="Wiadomość" name="message"></textarea>
									</div>
								</div>
								<button class="tran3s p-color-bg hvr-bounce-to-rightTwo">Wyślij</button>
							</form>

							<div class="alert_wrapper" id="alert_success">
								<div id="success">
									<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
									<div class="wrapper">
					                	<p>Your message was sent successfully!</p>
					                </div>
					            </div>
					        </div> <!-- End of .alert_wrapper -->
					        <div class="alert_wrapper" id="alert_error">
					            <div id="error">
					            	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
					            	<div class="wrapper">
					                	<p>Something went wrong, try refreshing and submitting the form again.</p>
					                </div>
					            </div>
					        </div> <!-- End of .alert_wrapper -->
						</div> <!-- /.contact-us-form -->

						<div class="contact-address col-lg-5 col-md-5 col-sm-12 col-xs-12">
							<div class="wrapper">
								<h6>Informacje kontaktowe</h6>
								<br/>
								<ul class="address">
									<li><i class="fa fa-map-marker" aria-hidden="true"></i> ul. Krupnicza 13 lok. 206A <br>50-075 Wrocław</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i> igor@adwokatgladysz.eu </li>
									<li><i class="fa fa-phone" aria-hidden="true"></i> +48 601 831 420</li>
									<li><i class="fa fa-clock-o" aria-hidden="true"></i> Poniedziałek - Piątek</li>
								</ul>

								<ul class="social-link">
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#" class="hvr-rectangle-out tran3s"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.wrapper -->
						</div> <!-- /.contact-address -->
					</div>
				</div>
			</div> <!-- /.contact-us-area -->





			<section id="google-map-area">
				<div class="google-map" id="contact-google-map" data-map-lat="51.107881" data-map-lng="17.025973" data-icon-path="../images/logo/map.png" data-map-title="Awesome Place" data-map-zoom="14"></div>
	   		 </section>




			<!-- We Are Best _____________________ -->
			<div class="we-are-best">
				<div class="overlay">
					<div class="container">
						<!--<h2>WE ARE BEST FOR LAWYER</h2>
						<p class="p-color">lawyer  Law Firm  Attorney</p>
						<div class="theme-decor"></div>-->
						<a href="~/Home" class="theme-button hvr-bounce-to-right">Powrót</a>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.we-are-best -->



		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="assest/jquery-2.1.4.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="assest/bootstrap/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->

		<!-- Google map js -->
		<script src="http://maps.google.com/maps/api/js"></script> <!-- Gmap Helper -->
		<script src="assest/gmap.js"></script>
		<!-- Vegas Slider -->
		<script type="text/javascript" src="assest/vegas/vegas.min.js"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="assest/owl-carousel/owl.carousel.min.js"></script>



		<!-- Theme js -->
		<script type="text/javascript" src="js/theme.js"></script>

